.detalles{
    background-color: lavenderblush;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1{
        color:black;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
    }
    h2{
        color:darkblue;
        padding: 2px 5px 0px 10px;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        .image {
            padding: 3px;
            border-radius: 50%;
            img {
              height: 100%;
              width: 100%;
              border-radius: 50%;
              object-fit: cover;
              border: 2px solid #fff;
            }
          }
    }
    .infor{

        padding: 50px;
        p{
            color:darkblue;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 30px;
            text-align: center;
        }
       h4{
        color:darkblue;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: center;
       }
        
        .box{
            
            padding: 15px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        .titles{
            h3{
                color: rgb(80, 9, 9);
                font-size: 18px;
                padding: 0px 5px 0px 5px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
            li{
                font-size: 20px;
                padding: 5px 0px 5px 0px;
                color: darkblue;
                font-size: large;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
        }
        }
        .button{
            background: darkcyan;
            width:300px;
            text-align: center;
            color:azure;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: medium;
            border:15px;
            padding: 15px;
            border-radius: 10px; 
            .text-link {
                font-size: 20px;
                color: inherit;
                text-decoration: inherit;
                &:hover {
                    color: rgb(252, 193, 0);}
            }
        }

    }
}
